<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de Votação</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Sistema de Votação</h1>

    <div th:if="${!hasVoted}">
        <form th:action="@{/vote}" method="post">
            <div th:each="candidate : ${candidates}">
                <input type="radio" th:name="candidateName" th:value="${candidate.name}">
                <span th:text="${candidate.name}"></span>
            </div>
            <br>
            <button type="submit">Votar</button>
        </form>
    </div>

    <div th:if="${hasVoted}">
        <p>Obrigado por votar!</p>
    </div>

    <div>
        </div>
</body>
</html>